/*--------------------------------------------------------------
# Typography
--------------------------------------------------------------*/
h1, h2, h3, h4, h5, h6 {
  clear: both;
  color: #24292e;
  margin-top: 24px;
  margin-bottom: 15px;
}

h1 {
  font-size: 32px;
  padding-bottom: 10px;
}

h2 {
  font-size: 24px;
  padding-bottom: 0.3em;
  line-height: 1.25;
}

h3 {
  font-size: 18px;
  line-height: 25px;
}

h4 {
  font-size: 16px;
  line-height: 20px;
}

h5 {
  font-size: 14px;
  line-height: 17.5px;
}

h1.entry-title {
  margin-bottom: 20px;
  font-size: 32px;
  text-transform: uppercase;
  border-bottom: 1px solid #eaecef;
}

h2.entry-title {
  border-bottom: 1px solid #eaecef;
}

h3.widget-title {
  font-size: 1.2rem;
}

.gp-site-title h1 {
  font-size: 44px;
  text-align: center;
}

.gp-site-subtitle {
  font-size: 14px !important;
}

@media only screen and (min-width: 768px) {
  .gp-site-title h1 {
    font-size: 68px;
  }

  .gp-site-subtitle {
    font-size: 22px !important;
  }
}